/* .Card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    width: calc((100% - 180px)  / 3);
} */

/* .Card_container > a > img {
    width: 100px;
    height: 100px;
} */
/* load구현을 위한 card css */
/* .Card_container {
    width: 100%;
    padding: 20px;
    align-items: center;
    border: 1px solid black;
} */
.Card_one {
    border: 1px solid #0d6efd;
    display: flex;
    margin: 10px auto;
    width: 350px;
    height: 450px;
    border-radius: 22px;
    padding: 5px;
    box-sizing: border-box;   
    flex-direction: column;
    text-align :center;
}
.Card_box {
    max-width: 400px;
    height: 400px;
}
.Card_box > img{
    width: 300px;
    height: 350px;
    padding: 5px;
    margin: auto;    
}
.listtitle > p{
    font-size : 20px;
    font-weight : 700;
    color: rgb(6, 23, 68);
}
.Card_one > nick {
    font-size : 10px;
    font-weight : 500;
    color: #0d6efd;
}
.listtitle{
    width: 200px;
    height: 40px;
    padding: 5px;
}
.nickbtn > button{    
    text-align :center;
    margin: 5px 5px;
    height: 20px;
    width: 50px;
    background-color: #26BCF7;
    border: 2px solid #26BCF7;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .Card_container {
        width: calc((100% - 120px)  / 2);
    }
}
@media screen and (max-width: 600px) {
    .Card_container {
        width: calc(100% - 60px);
    }   
}

