.comment_container {
    width : 100%;
    margin-top: 30px;
}

.comment_add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width : 100%;
    margin-bottom: 10px;
}

.comment_add > input {
    text-align :center;
    width: 70%;
    height: 50px;
    border: 2px solid #26BCF7;
}

.comment_add > input::placeholder {
    color:#D9D9D9;
    font-size : 15px;
}

.comment_add > input:focus {
    box-shadow: 1px 1px 20px #ddd;
}

.comment_add > button {
    width: 30%;
    height: 50px;
    margin-left : 10px;
    text-align :center;
    font-weight: bold;
    background-color: #26BCF7;
    border: 2px solid #26BCF7;
    box-shadow: 1px 1px 20px #ddd;
    cursor : pointer;
}

.comment {
    display: flex;
    flex-direction: row;
    border: 1px solid #26BCF7;
    margin-bottom: 10px;
}

.comment:hover {
    box-shadow: 1px 1px 20px #ddd;
}

.comment_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.comment_profile > p {
    padding : 10px;
    font-size : 20px;
    font-weight: bold;
}

.comment_profile > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.comment_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
}

.comment_list > p {
    font-size: 20px;
}

.comment_user {
    margin: 20px;
}

.comment_user > span {
    cursor: pointer;
    margin-right: 10px;
    font-size: 30px;
}

.comment_edit {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.comment_edit > input {
    margin : 30px;
    width: 70%;
    height: 50%;
    border: 2px solid #26BCF7;
}

.comment_edit > button {
    width: 30%;
    height: 50%;
    margin : 30px;
    text-align :center;
    font-weight: bold;
    background-color: #26BCF7;
    border: 2px solid #26BCF7;
    box-shadow: 1px 1px 20px #ddd;
    cursor : pointer;
}

@media screen and (min-width : 350px) and (max-width : 850px) {
    .comment_profile > img {
        width: 50px;
        height: 50px;
    }

    .comment_profile > p,
    .comment_list > p {
        font-size : 15px;
    }

    .comment_user > span {
        font-size: 20px;
    }
}