.Singup_container{
    width: 100%;
    margin-top: 100px;
    padding: 0% 15%;
}

.Singup_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Singup_image > img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.Singup_input {
    display : flex;
    flex-direction: column;
}

.title {
    display : flex;
    font-size : 30px;
    font-weight: bold;
}

.Singup_input > label {
    margin : 0;
    font-size : 15px;
    color : black;
    margin-bottom : 5px;
}

.Singup_input > input,
.Singup_id > input,
.Singup_nickname > input {
    text-align :center;
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
    border: 2px solid #26BCF7;
}

.Singup_input > input::placeholder,
.Singup_id > input::placeholder,
.Singup_nickname > input::placeholder {
    color:#D9D9D9;
    font-size : 15px;
}

.Singup_input > input:focus,
.Singup_id > input:focus,
.Singup_nickname > input:focus {
    outline: none;
    box-shadow: 0 0 3px #26BCF7;
}

.Singup_input > button,
.Singup_id > button,
.Singup_nickname > button {
    text-align :center;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: #26BCF7;
    border: 2px solid #26BCF7;
    cursor: pointer;
}

.Singup_id,
.Singup_nickname {
    position : relative;
}

.Singup_id > button,
.Singup_nickname > button {
    position : absolute;
    width: 105px;
    height: 50px;
    top: 0;
    right: 0;
}

.Singup_btn {
    width: 400px;
    height: 50px;
}

.Singup_input > p > a {
    font-size : 15px;
    text-decoration : none;
    color: black;
    font-weight: bold;
}

@media screen and (min-width : 350px) and (max-width : 850px) {
    .Singup_image > img {
        display : none;
    }
}

@media screen and (min-width : 850px) and (max-width : 1200px) {
    .Singup_container{
        padding: 0% 3%;
    }
}

